
<div class="BottomBackground">
  <div class="container-fluid">
    <div class="row container" style="margin-left:auto;margin-right:auto;">

      <!--
      <div class="col-xs-12 col-sm-6 .col-sm-offset-1 col-md-3 col-lg-3 pull-left">
        <div class="PedsMegaMenuTitle">Internal Links</div>
        <a class="PedsMegaMenuLink" href="https://mail.wusm-pcf.wustl.edu/exchange" target="_blank">PCF Webmail</a>
        <br />
        <div class="PedsMegaMenuLink">Citrix <a class="PedsMegaMenuLink" href="https://wii.pcf.wustl.edu/Citrix/AccessPlatform/auth/silentDetection.aspx">PC</a>/<a class="PedsMegaMenuLink" href="https://wii.pcf.wustl.edu/Citrix/Mac/auth/silentDetection.aspx">MAC</a></div>
        <a class="PedsMegaMenuLink" href="http://hr.wustl.edu" target="_blank">HRMS</a>
        <br />
        <a class="PedsMegaMenuLink" href="https://pedsportal.pcf.wustl.edu" target="_blank">Pediatric Intranet</a>
        <br />
        <a class="PedsMegaMenuLink" href="http://ofd.peds.wustl.edu" target="_blank">Office of Faculty Development</a>
        <br />
        <dnn:LOGIN id="dnnLogin" runat="server" cssclass="PedsMegaMenuLink" legacymode="false" />
      </div>
      -->
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="PedsMegaMenuTitle">IT Services</div>
        <a class="PedsMegaMenuLink" href="http://pediatrics.wustl.edu/pcf" target="_blank">PCF Home</a>
        <br />
        <a class="PedsMegaMenuLink" href="http://pediatrics.wustl.edu/clinicalinformatics" target="_blank">Clinical Informatics</a>
        <br />
      </div>

      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="PedsMegaMenuTitle">Affiliates</div>
        <a class="PedsMegaMenuLink" href="http://www.stlouischildrens.org" target="_blank">St. Louis Children’s Hospital</a>
        <br />
        <a class="PedsMegaMenuLink" href="http://www.barnesjewish.org" target="_blank">Barnes-Jewish Hospital</a>
        <br />
        <a class="PedsMegaMenuLink" href="http://www.bjc.org" target="_blank">BJC Healthcare</a>
        <br />
        <a class="PedsMegaMenuLink" href="http://www.childrensdiscovery.org" target="_blank">Children’s Discovery Institute</a>
        <br />
      </div>

      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="PedsMegaMenuTitle">Contact Us</div>
        <a class="PedsMegaMenuLink" href="mailto:appdev@kids.wustl.edu?subject=Question From GitHub">appdev@kids.wustl.edu</a>
        <br />
        <div class="PedsMegaMenuLink">Follow Us:&nbsp;
          <a class="IconHover" href="https://www.facebook.com/WUSTLPeds" target="_blank">
            <img alt="" src="{{ ASSET_PATH }}/images/MMFacebookIcon.png" style="" />
          </a>&nbsp;
          <a class="IconHover" href="https://twitter.com/WUSTLPeds" target="_blank">
            <img alt="" src="{{ ASSET_PATH }}/images/MMTwitterIcon.png" style="" />
          </a>&nbsp;
          <a class="IconHover" href="https://www.youtube.com/user/WUSTLPeds" target="_blank">
            <img alt="" src="{{ ASSET_PATH }}/images/MMYouTubeIcon.png" style="" />
          </a>
        </div>
        <!--
          <a class="PedsMegaMenuLink" href="http://wuphysicians.wustl.edu/directory.aspx" target="_blank">Find a Physician</a>
          <br />
          <a class="PedsMegaMenuLink" href="http://medicalalumni.wustl.edu/give/how-to-give" target="_blank">Make a Gift</a>
          <br />
        -->
      </div>

    </div>
  </div>

  <div style="clear:both;"></div>
  <div class="Footer">

    <div class="container-fluid hidden-xs hidden-sm">
      <section class="row">
        <div class="container">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="WhiteRue"></div>
            <a class="MMMedSchoolLogo" href="http://medicine.wustl.edu/" target="_blank">
              <img alt="" class="img-responsive" src="{{ ASSET_PATH }}/images/WUSLTMedLogo.png" />
            </a>
            <br />
            <div class="MMMedSchooltext">Our 2,100 employed and volunteer faculty — the <a class="MMMedSchoollink" href="http://wuphysicians.wustl.edu/" target="_blank">Washington University Physicians</a> — also are the medical staff of <a class="MMMedSchoollink" href="http://www.barnesjewish.org/"
              target="_blank">Barnes-Jewish</a> and <a class="MMMedSchoollink" href="http://www.stlouischildrens.org/" target="_blank">St. Louis Children's hospitals.</a> Through its hospital affiliations, the School is linked to BJC HealthCare.
              <br />
              <br />
              <a class="MMMedSchoollink" href="http://www.wustl.edu/policies/copyright.html" target="_blank">&#169;&nbsp;2015 Washington Univeristy in St. Louis</a></div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="WhiteRue2"></div>
            <a class="WhiteMedSchMegaMenuLink" href="http://medicine.wustl.edu/directory/academic-departments/" target="_blank">Departments & Programs</a>
            <br />
            <a class="WhiteMedSchMegaMenuLink" href="http://medicine.wustl.edu/news/releases/" target="_blank">News</a>
            <br />
            <a class="WhiteMedSchMegaMenuLink" href="http://outlook.wustl.edu/" target="_blank">Outlook Magazine</a>
            <br />
            <a class="WhiteMedSchMegaMenuLink" href="http://medicine.wustl.edu/maps/" target="_blank">Maps & Directions</a>
            <br />
            <a class="WhiteMedSchMegaMenuLink" href="http://medicine.wustl.edu/calendar/" target="_blank">Calendar</a>
            <br />
            <a class="WhiteMedSchMegaMenuLink" href="http://medicine.wustl.edu/contact/" target="_blank">Contact</a>
            <br />
            <a class="WhiteMedSchMegaMenuLink" href="http://medicine.wustl.edu/directory/index/" target="_blank">A to Z Index</a>
            <br />
            <a class="WhiteMedSchMegaMenuLink" href="http://medicine.wustl.edu/policies/" target="_blank">Policies</a>
            <br />
            <a class="WhiteMedSchMegaMenuLink" href="https://emergency.wustl.edu/" target="_blank">Emergency Information</a>
            <br />
            <br />
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <a class="IconHover" href="https://www.facebook.com/WUSTLmedicine.health" target="_blank">
              <img alt="" src="{{ ASSET_PATH }}/images/MedSchoolFBIcon.png" style="" />
            </a>&nbsp;&nbsp;
            <a class="IconHover" href="https://twitter.com/WUSTLmed" target="_blank">
              <img alt="" src="{{ ASSET_PATH }}/images/MedSchoolTIcon.png" style="" />
            </a>&nbsp;&nbsp;
            <a class="IconHover" href="https://www.linkedin.com/company/washington-university-school-of-medicine" target="_blank">
              <img alt="" src="{{ ASSET_PATH }}/images/MedSchoolINIcon.png" style="" />
            </a>&nbsp;&nbsp;
            <a class="IconHover" href="https://plus.google.com/+WashingtonUniversitySchoolofMedicineStLouis/videos" target="_blank">
              <img alt="" src="{{ ASSET_PATH }}/images/MedSchoolGIcon.png" style="" />
            </a>&nbsp;&nbsp;
            <a class="IconHover" href="http://feeds.feedburner.com/WUSTL-Medicine-News/" target="_blank">
              <img alt="" src="{{ ASSET_PATH }}/images/MedSchoolNewsIcon.png" style="" />
            </a>&nbsp;&nbsp;
            <a class="IconHover" href="http://reader.wustl.edu/" target="_blank">
              <img alt="" src="{{ ASSET_PATH }}/images/MedSchoolReadIcon.png" style="" />
            </a>
            <div class="WhiteRue3"></div>
            <a href="http://together.wustl.edu/Pages/Home.aspx" target="_blank">
              <img alt="" class="img-responsive" src="{{ ASSET_PATH }}/images/LeadingTogetherLogo.png" style="" />
            </a>
            <div class="WhiteRue3"></div>
            <div class="MMMedSchooltext">660 S. Euclid Ave.
              <br />St. Louis, MO 63110</div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
