
<div class="BottomBackground">
    <div class="container-fluid">
        <div class="row container" style="margin-left:auto;margin-right:auto;">
            <div class="col-sm-12 col-md-4">
                <div class="PedsMegaMenuTitle">IT Services</div>
                <a class="PedsMegaMenuLink" href="http://pediatrics.wustl.edu/pcf" target="_blank">PCF Home</a>
                <br />
                <a class="PedsMegaMenuLink" href="http://pediatrics.wustl.edu/clinicalinformatics" target="_blank">Clinical Informatics</a>
                <br />
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="PedsMegaMenuTitle">Affiliates</div>
                <a class="PedsMegaMenuLink" href="http://www.stlouischildrens.org" target="_blank">St. Louis Children’s Hospital</a>
                <br />
                <a class="PedsMegaMenuLink" href="http://www.barnesjewish.org" target="_blank">Barnes-Jewish Hospital</a>
                <br />
                <a class="PedsMegaMenuLink" href="http://www.bjc.org" target="_blank">BJC Healthcare</a>
                <br />
                <a class="PedsMegaMenuLink" href="http://www.childrensdiscovery.org" target="_blank">Children’s Discovery Institute</a>
                <br />
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="PedsMegaMenuTitle">Contact Us</div>
                <a class="PedsMegaMenuLink" href="mailto:appdev@kids.wustl.edu?subject=Question From GitHub">appdev@kids.wustl.edu</a>
                <br />
                <div class="PedsMegaMenuLink">Follow PEDS:&nbsp;

                    <a class="IconHover" href="https://www.facebook.com/WUSTLPeds" target="_blank">
                        <img alt="" src="{{ ASSET_PATH }}/images/MMFacebookIcon.png" style="" />
                    </a>&nbsp;

                    <a class="IconHover" href="https://twitter.com/WUSTLPeds" target="_blank">
                        <img alt="" src="{{ ASSET_PATH }}/images/MMTwitterIcon.png" style="" />
                    </a>&nbsp;

                    <a class="IconHover" href="https://www.youtube.com/user/WUSTLPeds" target="_blank">
                        <img alt="" src="{{ ASSET_PATH }}/images/MMYouTubeIcon.png" style="" />
                    </a>
                </div>
                <div class="PedsMegaMenuLink">
                    <div class="WhiteRue3"></div>
                    Follow WUSTL:&nbsp;
                    <a class="IconHover" href="https://www.facebook.com/WUSTLmedicine.health" target="_blank">
                        <img alt="" src="{{ ASSET_PATH }}/images/MedSchoolFBIcon.png" style="" />
                    </a>&nbsp;&nbsp;

                    <a class="IconHover" href="https://twitter.com/WUSTLmed" target="_blank">
                        <img alt="" src="{{ ASSET_PATH }}/images/MedSchoolTIcon.png" style="" />
                    </a>&nbsp;&nbsp;

                    <a class="IconHover" href="https://www.linkedin.com/company/washington-university-school-of-medicine" target="_blank">
                        <img alt="" src="{{ ASSET_PATH }}/images/MedSchoolINIcon.png" style="" />
                    </a>&nbsp;&nbsp;

                    <a class="IconHover" href="https://plus.google.com/+WashingtonUniversitySchoolofMedicineStLouis/videos" target="_blank">
                        <img alt="" src="{{ ASSET_PATH }}/images/MedSchoolGIcon.png" style="" />
                    </a>&nbsp;&nbsp;

                    <a class="IconHover" href="http://feeds.feedburner.com/WUSTL-Medicine-News/" target="_blank">
                        <img alt="" src="{{ ASSET_PATH }}/images/MedSchoolNewsIcon.png" style="" />
                    </a>&nbsp;&nbsp;

                    <a class="IconHover" href="http://reader.wustl.edu/" target="_blank">
                        <img alt="" src="{{ ASSET_PATH }}/images/MedSchoolReadIcon.png" style="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
